body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  background-image: url(images/soupcanrmx/cri_000000319202.jpg);
  background-position: center;
}


.animated {
            -webkit-animation-duration: 10s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }

         @-webkit-keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }

         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }

         .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }



select {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  height: 40px;
  width: 200px;
  background-color: yellow;
}

.imgPrp {
  width: 400px;
  height: 501px;
  margin: 0;
}

@import "compass/css3";

.image {
  width: 250px;
  float: left;
  margin: 20px;
}


.performance-facts {
  font-family: 'Nunito', sans-serif;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.9rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-family: 'Nunito', sans-serif;
  font-weight: light;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  font-family: 'Nunito', sans-serif;
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: light;
    text-align: auto;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 1.5rem;
  font-weight: light;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.1rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "";
        font-weight: light;
        margin: 0 0.2rem 0 0;
      }
    }
  }
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}
